<center>
			<table class="circled" width="60%">
			<tr>
				<td colspan=2 style="font-size:16px">
					<h1 style="font-size:36px; padding-bottom:10px;">About WIMSical</h1>
					<p >WIMSical was the brainchild of Matt Levonian, and is designed for the sole purpose of
					decreasing your anxiety level and increasing your happiness coefficient.</p>
					<p >We noticed a severe lack in the area of electronic returns in our modern era, and thought
					that it would be a noble deed to attempt to eschew this unfortunate occurance.</p>
					<p >Users are able to sign in via Facebook or a Google Account. Once signed in you are able to
					register your devices, noting defining features. In the event that you should lose this device, we will
					facilitate your effort to attain the device.</p>
					<p >How can we do this? Why through the power of friendship of course!! When someone else finds your device,
					and the unique QR code which we provide for you upon registration, they will be able to scan the code
					which will then report the device missing to our services which will notify you of how you can get in contact
					with whomever has it at the time.</p>
			</tr>
			</table>
<center>