<center>
<div style='padding-left:10px'>
	<table style="padding-top:10px; padding-left:10px" class="circled"><tr><td colspan=3 align="center">
		<form method="post">
			<tr><td colspan=3><h2 style="left:5px">Your Account Information:</h2></td></tr>
			<tr>
				<!--<td rowspan="5" width=220>
					<img src="/static/images/present.png" width=200 height=200 />
				</td>-->
				<td align=right>Email:</td><td><input type="text" name="email" value="{{ email }}" /></td></tr>
			<tr><td align=right>Address:</td><td><input type="text" name="address" value="{{ address }}" /></td></tr>
			<tr><td align=right>Phone Number:</td><td><input type="text" name="phone" value="{{ phone }}" maxlength="10" /></td></tr>
			<!--<tr><td align=right></td><td>    <input type="text" name="loc" placeholder="New Zealand" /></td></tr>
			<tr><td align=right></td><td>    <input type="text" name="id" value="{{did}}" /></td></tr>-->
			<tr><td align=center colspan=2>	<input type="submit" class="btn" value="Update Information" /></td></tr>
		</form>
	</table>
</div>
</center>