<table class="circled" width="60%">
	<tr>
		<td colspan=2 style="font-size:16px">
			<h1 style="font-size:36px; padding-bottom:10px;">How to use WIMSical</h1>
			<hr />
			<p >When you register a device from the My Devices page, a unique QR code is generated for your device.</p>
			<center><img width="95%" src="/static/images/tutorial/create_device.png" /></center>
			<br />
			<p >Print it out or set it to be your lockscreen; make sure that if someone picked up your device, they would be able to find and successfully scan the code. Try scanning the code yourself to make sure it works.</p>
			<center><img src="/static/images/tutorial/example_code.png" /></center>
			<br />
			<p >When a stranger scans the code, they will be directed to a page where they can enter their contact info to claim the reward.</p>
			<center><img width="80%" src="/static/images/tutorial/found_device.png" /></center>
			<br />
			<p >If you lose a device, check back often to see if someone has claimed your device. If it has been found, you will be able to see their contact info from the Device Info page.</p>
		</td>
	</tr>
</table>
