<table class="circled" width="60%">
	<tr>
		<td style="font-size:16px">
			<h1 style="font-size:36px; padding-bottom:10px;">What do I do with the QR code?</h1>
			<hr />
			<p>Right click and save the QR code image. 
				<ul>
					<li>Print it out on sticky label paper and stick the code onto a visible part of your device.</li>
					<li>Print it out on regular paper and tape it to your device.</li>
					<li>Send it to your phone and set it as your lockscreen. Make sure to test out the scan; lockscreen text or patterns can obscure the code.</li>
				</ul>
			</p>
		</td>
	</tr>
</table>
