<table class="circled" width="60%">
	<tr>
		<td colspan=2 style="font-size:16px">
			<h1 style="font-size:36px; padding-bottom:10px;">Common Serial Number Locations</h1>
			<hr />
			<table>
				<tr>
					<td align=left>
						<h4>TI-84</h4>
						<div style="padding-left:1em;">
							<br />
							<h5>DDDDDDDDDD_L-DDDDL</h5>
							<br />
							<p >Serial number is found on the back of the device between the two indented areas.</p>
							<center><img width="80%" src="/static/images/tutorial/sn_ti84.png" /></center>
							<br />
						</div>
						<hr>
					</td>
				</tr>
				<tr align=left>
					<td>
						<br />
						<h4>iOS Devices (iPhone, etc)</h4>
						<div style="padding-left:1em;">
							<br />
							<h5>DDDDDXXXXXX</h5>
							<br />
							<p >An option under <b>Settings > General > About</b> gives you the serial number.</p>
							<center><img width="40%" src="/static/images/tutorial/sn_ios.png" /></center>
						</div>
						<hr>
					</td>
				</tr>
			</table>
			<br />
			<h5>Suggestions for more devices? <a href="mailto:elevonian@gmail.com">Email us.</a></h5>
		</td>
	</tr>
</table>
